nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    height: 60px;
    margin: 0.5rem;
  }
  div {
    border: 2px solid rgb(65, 65, 65);
    padding: 0.5rem;
    transition: all 0.3s ease;
    margin: auto, 0;
    border-radius: 3px;
    &:hover {
      background-color: rgb(65, 65, 65);
      color: white;
    }
  }
}
@media screen and (max-width: 768px) {
  nav {
    div {
      z-index: 10;
    }
  }
}
