@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3,
h4 {
  color: hsl(0%, 0%, 14%);
}
.App {
  transition: all 0.5s ease;
}
.library-active {
  margin-left: 30%;
}
@import "./nav";
@import "./song";
@import "./player";
@import "./library";
